a {
    text-decoration: none;
    color: dimgray;
}

.header{
    background-color: chocolate;
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header1{
    font-size: 3rem;
}

.main{
    background-color: darkorange;
}
.nav{
font-size: 1.5rem;
display: flex;
justify-content: center;
gap: 31px;

}